/* Dropdown.css */

.dropdown-container {
    transition: "background-color ease-in .3s";
    white-space: nowrap;
    min-width: 100;
    text-align: center;
    position: static;
    display: block;
    margin: 25px;
    padding: 15px;
    background-color: grey;
    color: #333333;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .dropdown-title {
    position: static;
    display: block;
    margin: 25;
    padding: 15;
    background-color: 'grey';
    color:#333333;
    border-radius: 10;
    margin-bottom: 10;
    overflow:hidden;
    white-space: nowrap;
    text-align: 'center';
    top:80 ;
    min-width: '10%';
    position: 'absolute';
    display: 'flex';
    flex-direction: column;
    margin-bottom:30;
    padding: 10;
    padding: 10;
    
  }
  
  .dropdown-content {
    top: 80;
    min-width: '10%';
    position: absolute;
    display: show;
    flex-direction: column;
    white-space: nowrap;
    background-color: grey;
    color: #333333;
    border-radius: 10px;

    padding: 10px;
    transition: max-height ease-in-out 0.3s;
    overflow: hidden;
  }
  
  .dropdown-content.show {
    display: block;
    max-height: 500px; /* Set your desired max-height */
  }
  