/* FloatingImage.module.css */
.floatingImage {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    width: '1%'; /* Adjust the width as needed */
    height: '1%';
    max-width: 150px;
    max-height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(49, 48, 48, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .floatingImage:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */

  }
  